.login_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #1a1a2e;
    font-family: 'Arial', sans-serif;
}


.login-logo{
    margin-bottom: 0px;
}

.login-logo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.login-logo h1{
    color: white;
    font-size: 24px;
    margin-top: 10px;
}

.login_container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 330px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.login_container form input{
    padding: 12px;
    margin-bottom: 20px;
    max-width: 350px;
    background: #e4e4e4;
    border: 1px solid #343a40;
    border-radius: 16px;
    font-size: 16px;
    color: #4c4c4c;
    width: 200px;
}

.login_container form input::placeholder{
    font-size: 14px;
    opacity: 1;
    color: gray;
}

.login{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
    padding: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 50%;
    margin: 0 auto;
}

.login:hover{
    background-color: #899edd;
}

.link{
    background-color: #1a1a2e;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 50;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
    padding: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 60%;
    margin: 0 auto;
}

.link:hover{
    background-color: #111120;
}
